* {
	margin: 0;
	padding: 0;
}

#sect2,
nav {
	font-family: "IBM Plex Mono", monospace;
}

html {
	scroll-behavior: smooth;
}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 4px; /* Set the width of the scroll bar */
}

::-webkit-scrollbar-thumb {
	background-color: #333; /* Set the color of the scroll thumb */
	border-radius: 40px;
}

.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1.5s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

.navbar-nav {
	font-weight: bold;
	
}

.nav-link {
	position: relative;
	text-decoration: none;
}

.nav-link::before,
.nav-link::after {
	content: "";
	position: absolute;
	width: 0;
	height: 3px;
	bottom: 0;
	background-color: #ffffff; /* Change this to your desired underline color */
	transition: width 0.3s ease-in-out;
}

.nav-link::before {
	left: 50%;
	transform: translateX(-50%);
}

.nav-link::after {
	right: 50%;
	transform: translateX(50%);
}

.nav-link:hover::before,
.nav-link:hover::after {
	width: 50%;
}

#landing, .navbar, #nav-btn, #sect2, #about, #engagements, #achievements, #contact {
	background-color: #0e0e0e;
}

.pulse-text {
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
	  transform: scale(1);
	  text-shadow: 0 0 20px #fff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff;
	  opacity: 5;
	}
	50% {
	  transform: scale(1.1);
	  text-shadow: 0 0 20px #fff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff;
	  opacity: 0.5;
	}
	100% {
	  transform: scale(1);
	  text-shadow: 0 0 20px #fff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff;
	  opacity: 5;
	}
  }

  .icon-scroll {
	position: absolute;
	top: 65%;
	left: 50%;
  width: 1em;
	height: 3.125em;
	transform: translateX(-50%) scale(2);
	z-index: 99999;
}

.icon-arrows::after,
.icon-arrows::before {
  content: '';
}
.icon-arrows span,
.icon-arrows::after,
.icon-arrows::before {
	display: block;
	width: 0.315em;
	height: 0.315em;
	border-right: 1px solid rgba(255,255,255,.8);
	border-bottom: 1px solid rgba(255,255,255,.8);
	margin: 0 0 0.125em 0.315em;
	transform: rotate(45deg);
  	animation: mouse-scroll 1s infinite;
	animation-direction: alternate;
}

.icon-arrows::before {
	margin-top: 0.315em;
	animation-delay: .1s;
}

.icon-scroll span {
	animation-delay: .2s;
}

.icon-arrows::after {
	animation-delay: .3s;
}

.icon-scroll .mouse {
	height: 1.375em;
	width: .875em;
	border: 1px solid rgba(255,255,255,.8);
	border-radius: 2em;
}

.icon-scroll .wheel {
  position: relative;
  display: block;
  height: 0.1875em;
  width: 0.1875em;
  margin: 0.1875em auto 0;
  background: rgba(255,255,255,.8);
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

@keyframes mouse-wheel {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(.375em);
	}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}

.sect1, #stack, #projects, #footer {
	background-color: #0e0e0e;
}

#quote-content,
#logo,
#ul-list, .icon-scroll {
	animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#greeting {
	font-size: 20px;
}

#name {
	font-size: 24px;
}

@media screen and (max-width: 768px) {
    #sliced-me, #stack-gif {
        width: 270px; /* Make the image responsive, filling the container width */
        height: auto; /* Automatically adjust the height to maintain aspect ratio */
        /* Add any other styles you want for smaller screens */
    }

	#me {
		width: 242px;
		height: auto;
	}

	#quote-content {
        font-size: 26px;
    }

	#greeting {
		font-size: 12px;
	}

	#name {
		font-size: 15px;
	}

	#desc {
		font-size: 13px;
	}

	#program {
		font-size: 22.5px;
	}

	#cvbtn, #certbtn {
		width: 132px;
	}

	#tech-stack, #achievements {
		font-size: 1.5rem;
	}

	#stack-desc {
		font-size: 8px;
	}

	#achievements, card-cont {
		padding-top: 100px;
	  }

	.card {
		height: 350px;
		width: 302px;
	}

	#parago-card {
		height: 368px;
		width: 302px;
	}

	.card-title {
		font-size: 1.2rem;
	}

	.card-text {
		font-size: 0.9rem;
	}

	.btn-lg {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}

	.btn {
		width: 12px;

	}
}

.card {
	/* Add your default styles here */
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add easing to the transitions */
}

.card:hover {
	box-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
	transform: scale(1.02);
}

#tech-stack {
	height: 70px;
	font-family: "Dela Gothic One", Arial;
}

.barrier-tape {
	height: 80px;
	background: repeating-linear-gradient(
		45deg,
		#ffcc00,
		#ffcc00 40px,
		#000000 40px,
		#000000 60px
	);
	position: relative;
	animation: tape-animation 5s linear infinite;
}

@keyframes tape-animation {
	to {
		background-position: 100% 0;
	}
}

@keyframes tape-animation {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 1000px 0;
	}
}

.pass,
.enth,
.det {
	background-image: linear-gradient(to right, blue, yellow); 
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: 0 0 4px rgba(248, 248, 248, 0.788);
}

.card {
	background:  #ffffff;
}
.designer[data-translate],
.coder[data-translate] {
	font-weight: bolder;
	font-family: "IBM Plex Mono", monospace;
}

/* Define the keyframes for the glitch effect */
@keyframes glitch {
	0% {
		text-shadow: 0 0 0 transparent, 5px 5px 0 #ffcc00, -5px -5px 0 #0000ff;
	}
	5% {
		text-shadow: 0 0 0 transparent, 5px 5px 0 #0000ff, -5px -5px 0 #ff0000;
	}
	10% {
		text-shadow: 0 0 0 transparent, 5px 5px 0 #ffcc00, -5px -5px 0 #0000ff;
	}
}

.designer,
.coder {
	animation: glitch 3s linear infinite reverse;
}

#about {
	height: 620px;
}

#quote-span1, #contact-me {
	font-family: "Dela Gothic One", monospace;
}

#quote {
	font-family: "Londrina Solid", monospace;
	color: #505050;
}

#desc, #stack-desc {
	font-family: "IBM Plex Mono", monospace;
}

#program {
	overflow: hidden;
	border-right: 2px solid #ffffff;
	white-space: nowrap;
	margin: 0;
}

.techno {
    color: #ffcc00;
}

.typewriter {
	
    color: #0000ff;
	width: 0;
	animation: typing 2s steps(30) forwards, blink-caret 0.1s step-end 3s infinite;
}

@keyframes typing {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-right-color: transparent;
	}
	50% {
		border-right-color: #000;
	}
}

#carouselExampleCaptions {
    max-width: 600px;
    max-height: 500px;
    margin: 0 auto;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
	color: rgb(0, 0, 0);
  }

  .btn {
	width: 162px;
  }

  #contact-img {
	width: 432px;
	height: 432px;
}

.carousel-inner .carousel-item {
	transition: transform 0.5s ease;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
	
	#recipeCarousel, .carousel-inner {
		height: 220px;
		width: 310px;
	}

	.btn-lg {
		font-size: 16px;
		width: 150px;
	}

	.bi {
		width: 18px;
		height: 18px;
	}

	.socials {
		flex-direction: row;
	}

	#contact-img {
		width: 120px;
		height: 120px;
	}

	.footer-logo {
		width: 18px;
		height: 18px;
	}

	.credits {
		font-size: 12px;
	}

}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }

}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}