#sect2,
nav {
	font-family: "IBM Plex Mono", monospace;
}

html {
	scroll-behavior: smooth;
}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 4px; /* Set the width of the scroll bar */
}

::-webkit-scrollbar-thumb {
	background-color: #333; /* Set the color of the scroll thumb */
	border-radius: 40px;
}

.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1.5s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

.navbar-nav {
	font-weight: bold;
	
}

.nav-link {
	position: relative;
	text-decoration: none;
}

.nav-link::before,
.nav-link::after {
	content: "";
	position: absolute;
	width: 0;
	height: 3px;
	bottom: 0;
	background-color: #ffffff; /* Change this to your desired underline color */
	transition: width 0.3s ease-in-out;
}

.nav-link::before {
	left: 50%;
	transform: translateX(-50%);
}

.nav-link::after {
	right: 50%;
	transform: translateX(50%);
}

.nav-link:hover::before,
.nav-link:hover::after {
	width: 50%;
}

#landing, .navbar, #sect2, #about, #achievements {
	background-color: #0e0e0e;
}

.pulse-text {
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
	  transform: scale(1);
	  text-shadow: 0 0 20px #fff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff;
	  opacity: 5;
	}
	50% {
	  transform: scale(1.1);
	  text-shadow: 0 0 20px #fff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff;
	  opacity: 0.5;
	}
	100% {
	  transform: scale(1);
	  text-shadow: 0 0 20px #fff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff;
	  opacity: 5;
	}
  }

.sect1, #stack, #projects {
	background-color: #0e0e0e;
}

#quote-content,
#logo,
#ul-list {
	animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#greeting {
	font-size: 20px;
}

@media screen and (max-width: 768px) {
    #sliced-me, #stack-gif {
        width: 302px; /* Make the image responsive, filling the container width */
        height: auto; /* Automatically adjust the height to maintain aspect ratio */
        /* Add any other styles you want for smaller screens */
    }

	#me {
		width: 242px;
		height: auto;
	}

	#quote-content, .pass, .enth, .det {
        font-size: 18px;
    }

	#greeting {
		font-size: 16px;
	}

	#name {
		font-size: 18px;
	}

	#desc {
		font-size: 12px;
	}

	#program {
		font-size: 26px;
	}

	#tech-stack, #achievements {
		font-size: 1.5rem;
	}

	#stack-desc {
		font-size: 8px;
	}

	#achievements, card-cont {
		padding-top: 100px; /* Adjust this value as needed */
	  }

	.card {
		height: 350px;
		width: 302px;
	}

	.card-title {
		font-size: 1.2rem;
	}

	.card-text {
		font-size: 0.9rem;
	}
}

.card {
	/* Add your default styles here */
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add easing to the transitions */
}

.card:hover {
	/* Add your hover styles here */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Example: adding a box shadow */
	transform: scale(1.02); /* Example: scaling up the card */
}

#tech-stack {
	height: 70px;
	font-family: "Dela Gothic One", Arial;
}

.barrier-tape {
	height: 80px;
	background: repeating-linear-gradient(
		45deg,
		#ffcc00,
		#ffcc00 40px,
		#000000 40px,
		#000000 60px
	);
	position: relative;
	animation: tape-animation 5s linear infinite;
}

@keyframes tape-animation {
	to {
		background-position: 100% 0;
	}
}

@keyframes tape-animation {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 1000px 0;
	}
}

.pass,
.enth,
.det {
	background-image: linear-gradient(to right, blue, yellow); 
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: 0 0 4px rgba(248, 248, 248, 0.788);
}

.card {
	background:  #ffffff;
}
.designer[data-translate],
.coder[data-translate] {
	font-weight: bolder;
	font-family: "IBM Plex Mono", monospace;
}

/* Define the keyframes for the glitch effect */
@keyframes glitch {
	0% {
		text-shadow: 0 0 0 transparent, 5px 5px 0 #ffcc00, -5px -5px 0 #0000ff;
	}
	5% {
		text-shadow: 0 0 0 transparent, 5px 5px 0 #0000ff, -5px -5px 0 #ff0000;
	}
	10% {
		text-shadow: 0 0 0 transparent, 5px 5px 0 #ffcc00, -5px -5px 0 #0000ff;
	}
}

.designer,
.coder {
	animation: glitch 3s linear infinite reverse;
}

#about {
	height: 620px;
}

#quote-span1 {
	font-family: "Dela Gothic One", monospace;
}

#quote {
	font-family: "Londrina Solid", monospace;
	color: #505050;
}

#desc, #stack-desc {
	font-family: "IBM Plex Mono", monospace;
}

#program {
	overflow: hidden;
	border-right: 2px solid #ffffff;
	white-space: nowrap;
	margin: 0;
}

.techno {
    color: #ffcc00;
}

.typewriter {
	
    color: #0000ff;
	width: 0;
	animation: typing 2s steps(30) forwards, blink-caret 0.1s step-end 3s infinite;
}

@keyframes typing {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-right-color: transparent;
	}
	50% {
		border-right-color: #000;
	}
}

#carouselExampleCaptions {
    max-width: 600px;
    max-height: 500px;
    margin: 0 auto;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
	color: rgb(0, 0, 0); /* Change this to the desired color */
  }